* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  margin: 5rem 15rem 0 15rem;
  background: url(photos/pexels-kasuma-427676.jpg) center center no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}

/* HEADER */

header {
  border: 0.5px solid black;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 15px;
}

.divide-section {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.divide-h1 {
  font-size: 6rem;
  font-family: roboto;
  font-weight: 600;
  display: flex;
}

.divide-h1 a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.divide-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}

.divide-ul li {
  list-style: none;
  margin-right: 1.5rem;
  font-size: 3rem;
}

.divide-ul a {
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s all ease;
  background-color: lightskyblue;
  color: transparent;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 20px;
  outline: none;
  cursor: context-menu;
}

.divide-ul a:hover {
  color: rgba(0, 0, 0, 1);
}

.class-section {
  display: flex;
  justify-content: space-between;
  /* box-sizing: border-box; */
}

/* MAIN */

main {
  margin-top: 4.5rem;
  border: 0.5px solid black;
  backdrop-filter: blur(7px);
  border-radius: 20px;
  min-height: 60vh;
  padding: 24px;
  outline: none;
}

.introduction {
  margin: 1.5rem;
  padding: 2rem;
  border: 1px solid grey;
  border-radius: 20px;
  height: 60vh;
  background-color: rgba(135, 206, 250, 0.9);
}

.class-h1 {
  font-size: 4rem;
  font-family: roboto;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

.class-paragraph {
  font-size: 2rem;
  font-family: roboto;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 3rem;
  /* word-spacing: 2px; */
}

.class-paragraphs {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  grid-template-columns: 1fr, 1fr;
  font-family: roboto;
  font-weight: 400;
  padding: 10px;
  margin-top: 0.5rem;
  line-height: 3rem;
  word-spacing: 1px;
  border: 1px solid black;
  border-radius: 20px;
  width: 300px;
  text-align: justify;
}

.div-combination {
  display: grid;
  gap: 15px;

}

.class-paragraphics {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid black;
  width: 280px;
  height: 90px;
  line-height: 2rem;
  font-weight: 400;
  font-family: roboto;
  font-size: 2vh;
  margin-bottom: 5px;
  padding: 10px;
}

.class-paragraphicss {
  display: grid;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid black;
  width: 280px;
  height: 90px;
  padding: 10px;
  line-height: 2rem;
  font-weight: 400;
  font-family: roboto;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 20px;
}

.div-sub {
  display: flex;
  justify-content: space-evenly;
}

.paragraphsss {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.h22 {
  font-size: 2vh;
}

.paragraph {
  font-size: 1.2rem;
}

p {
  justify-content: center;
  line-height: 2rem;
  font-weight: 400;
  font-family: roboto;
  font-size: 2.5vh;
  text-align: justify;
}

.paragraph-sub {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ABOUT PAGES */

.h12 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  position: relative;
  top: 0;

}

.purposes {
  display: flex;
  justify-content: space-between;
}

.purpose {
  font-size: 3rem;
  font-family: roboto;
  font-weight: normal;
  border: 2px solid grey;
  width: 30rem;
  height: 65vh;
  backdrop-filter: blur(5px);
}

.heder {
  display: flex;
  justify-content: center;
  position: relative;
  top: 9px;
}

.RR {
  border-top: 2px solid grey;
  height: 58.3vh;
  position: relative;
  top: 20px;
  background-color: red;
}